@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
.container { 
  display: flex;
  justify-content: center;
  .inner {
  width: 420px;
  height: 654px;
  margin-top: 50px;
  background: url('../../assets/bg.jpg');
  font-family: 'Playball', cursive;
  font-size: 18px;
  font-weight: 200;
  }
}
